<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/Correlation_Matrix_Feature_elimination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np
import pandas as pd

In [34]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [35]:
from sklearn import datasets as ds

In [36]:
iris_data = ds.load_iris()

In [37]:
iris_data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [38]:
X = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
y = pd.DataFrame(iris_data.target, columns=['Classification'])

In [39]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [40]:
y.head()

   Classification
0               0
1               0
2               0
3               0
4               0

In [41]:
corr_matrix = X.corr()

In [42]:
corr_matrix.shape

(4, 4)

In [43]:
np.ones(corr_matrix.shape)

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

## Steps:
1. Get the corr_matrix, and create a mapping matrix with below steps.
2. Create an array of size as in corr_matrix with all 1's.
3. Get the upper triangular matrix from step 2, shift the diagonal (here k = 1).
4. Convert all 0's and 1's to Boolean data types from step 3.
5. Now apply the boolean matrix to filter the values in corr_matrix

In [64]:
upper = corr_matrix.abs().where(np.triu(np.ones(corr_matrix.shape), k = 1).astype(np.bool))
high_correlation_features = [column for column in upper.columns if any(upper[column] > 0.8)]

In [65]:
features_high_correlation

['petal length (cm)', 'petal width (cm)']