<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/Notes_on_Lambda_Expression_map()_apply()_applymap().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd

## Lambda expression

Lambda are Short form of functions.

Without function name, it has input and return values.

In [5]:
multi = lambda x, y : x * y

The above lambda expression will take 

Inputs: x, y 

Outputs/ returns: x * y

On calling the lambda expression will return the output.

In [6]:
multi(5,6)

30

## Usage of map(), apply(), applymap()

#### Map()

Map() works **only** on Series.

In [7]:
from sklearn.datasets import load_iris
data = load_iris()
features = pd.DataFrame(data = data['data'], columns= data ['feature_names'])
features.head() #glance at the data

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Pick one series from the above dataset. Use Map() method. When you take a Dataframe or more than one Series. Map() will give you Error.

Let us pick one Series and try to map a function. Before that we will create a lambda expression that converts cm to mm.

In [9]:
cm_to_mm = lambda x : x * 10

In [12]:
features['sepal length (cm)'].map(cm_to_mm).head()

0    51.0
1    49.0
2    47.0
3    46.0
4    50.0
Name: sepal length (cm), dtype: float64

### Apply()

Apply() works on both Series and DataFrames

In [13]:
features[['sepal length (cm)',"sepal width (cm)"]].apply(cm_to_mm).head()

   sepal length (cm)  sepal width (cm)
0               51.0              35.0
1               49.0              30.0
2               47.0              32.0
3               46.0              31.0
4               50.0              36.0

In [21]:
features['sepal length (cm)'].apply(cm_to_mm).head()

0    51.0
1    49.0
2    47.0
3    46.0
4    50.0
Name: sepal length (cm), dtype: float64

**Note**: Check the return types. Map() return as Series, where as Apply() returns a DataFrame.

## ApplyMap()

ApplyMap() works only on DataFrame, not on Series.

But this can be applied to the entire DataFrame.

In [23]:
features[['sepal length (cm)']].applymap(cm_to_mm).head()

   sepal length (cm)
0               51.0
1               49.0
2               47.0
3               46.0
4               50.0

**Note**: [[ 'one col' ]] will be treated as DataFrame, not Series because of double square brackets.