<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/OneHotEncoder_vs_get_dummies().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [6]:
data = {'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasília'], 'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])

In [7]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [27]:
from sklearn.preprocessing import OneHotEncoder

ohEncoder = OneHotEncoder()

values = ohEncoder.fit_transform(df[['Country']])

In [30]:
ohEncoder.categories_

[array(['Belgium', 'Brazil', 'India'], dtype=object)]

In [31]:
values.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [8]:
# get dummies for the given columns
df_getdummies = pd.get_dummies(df, columns=['Country'])

In [9]:
df_getdummies

     Capital  Population  Country_Belgium  Country_Brazil  Country_India
0   Brussels    11190846                1               0              0
1  New Delhi  1303171035                0               0              1
2   Brasília   207847528                0               1              0