<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/Pipleline_with_CrossVaidation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [2]:
df_train = pd.read_csv('/content/sample_data/california_housing_train.csv')
df_test = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [3]:
df_train.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [4]:
df_test.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [5]:
df_test.drop(columns= ['median_house_value'], inplace=True)

In [24]:
y_train = df_train.pop('median_house_value')

In [7]:
df_train.describe().T

                      count           mean  ...         75%          max
longitude           17000.0    -119.562108  ...    -118.000    -114.3100
latitude            17000.0      35.625225  ...      37.720      41.9500
housing_median_age  17000.0      28.589353  ...      37.000      52.0000
total_rooms         17000.0    2643.664412  ...    3151.250   37937.0000
total_bedrooms      17000.0     539.410824  ...     648.250    6445.0000
population          17000.0    1429.573941  ...    1721.000   35682.0000
households          17000.0     501.221941  ...     605.250    6082.0000
median_income       17000.0       3.883578  ...       4.767      15.0001
median_house_value  17000.0  207300.912353  ...  265000.000  500001.0000

[9 rows x 8 columns]

In [8]:
df_test.describe().T

                     count         mean  ...          75%         max
longitude           3000.0  -119.589200  ...  -118.020000   -114.4900
latitude            3000.0    35.635390  ...    37.690000     41.9200
housing_median_age  3000.0    28.845333  ...    37.000000     52.0000
total_rooms         3000.0  2599.578667  ...  3129.000000  30450.0000
total_bedrooms      3000.0   529.950667  ...   636.000000   5419.0000
population          3000.0  1402.798667  ...  1742.750000  11935.0000
households          3000.0   489.912000  ...   597.250000   4930.0000
median_income       3000.0     3.807272  ...     4.656475     15.0001

[8 rows x 8 columns]

In [9]:
df_train.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [10]:
df_test.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

# Define the models in list to run inside a loop

In [81]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor

models = []
# models.append(['lr', LinearRegression()])
# models.append(['dtr', DecisionTreeRegressor()])
models.append(['knnr', KNeighborsRegressor()])

# Crossvalidation space should be defined for the pipeline

## Including knnr and dtr, mixing with others will start giving error stating the parameters does not belong to the model

## In short space should have parameters belonging to the input model.

In [82]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

from sklearn.model_selection import GridSearchCV 

space = dict()
space['knnr__n_neighbors'] = [5,10,15]
# space['knnr__weights'] = ['uniform', 'distance']
# space['dtr__criterion'] = ['mse','mae']
# space['dtr__splitter'] = ['best','random']
# space['dtr__max_depth'] = [5, 10, 15]
# space['dtr__min_samples_split'] = [5, 10, 15]
# space['dtr__min_samples_leaf'] = [1,3,5]

from sklearn.model_selection import KFold
cv_kfold = KFold(5)

# Create pipeline inside the loop, not outside.

In [85]:
for regressor in models:

  pl = Pipeline([
      ('scaler', StandardScaler()),
      ('pca', PCA(n_components = 0.95)),
      (regressor[0], regressor[1])
  ])

  model = GridSearchCV(pl, param_grid = space)

  model.fit(df_train, y_train)
  print('Training Score: ', model.score(df_train, y_train))
  print(model.best_score_)

Training Score:  0.6532667943671076
0.3234103574444795

In [86]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, df_train, y_train, cv = cv_kfold)
scores.mean()

# GridSearch CV score - reference sklearn API.
# model.best_score_

0.3234103574444795

### **cross_val_score** estimates the expected accuracy of your model on out-of-training data (pulled from the same underlying process as the training data, of course).