<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/Project4_Vehicle_1_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Imports

In [1]:
import pandas as pd
import numpy as np

Reading Raw Data from given Dataset

In [2]:
rawdata = pd.read_csv('/content/drive/My Drive/Colab Notebooks/vehicle-1.csv')

# Exploratory Data Analysis & Data Preprocessing

In [3]:
rawdata.head()

   compactness  circularity  ...  hollows_ratio  class
0           95         48.0  ...            197    van
1           91         41.0  ...            199    van
2          104         50.0  ...            196    car
3           93         41.0  ...            207    van
4           85         44.0  ...            183    bus

[5 rows x 19 columns]

In [9]:
rawdata.size

16074

In [10]:
rawdata.shape

(846, 19)

Given data set has 846 rows and 19 columns

In [4]:
rawdata.describe()

       compactness  circularity  ...  skewness_about.2  hollows_ratio
count   846.000000   841.000000  ...        845.000000     846.000000
mean     93.678487    44.828775  ...        188.919527     195.632388
std       8.234474     6.152172  ...          6.155809       7.438797
min      73.000000    33.000000  ...        176.000000     181.000000
25%      87.000000    40.000000  ...        184.000000     190.250000
50%      93.000000    44.000000  ...        188.000000     197.000000
75%     100.000000    49.000000  ...        193.000000     201.000000
max     119.000000    59.000000  ...        206.000000     211.000000

[8 rows x 18 columns]

Check for null values

In [5]:
rawdata.isnull().sum()

compactness                    0
circularity                    5
distance_circularity           4
radius_ratio                   6
pr.axis_aspect_ratio           2
max.length_aspect_ratio        0
scatter_ratio                  1
elongatedness                  1
pr.axis_rectangularity         3
max.length_rectangularity      0
scaled_variance                3
scaled_variance.1              2
scaled_radius_of_gyration      2
scaled_radius_of_gyration.1    4
skewness_about                 6
skewness_about.1               1
skewness_about.2               1
hollows_ratio                  0
class                          0
dtype: int64

There are null values available in the mentioned columns. This needs to be cleaned before feeding the data to the model.

In [6]:
rawdata.dtypes

compactness                      int64
circularity                    float64
distance_circularity           float64
radius_ratio                   float64
pr.axis_aspect_ratio           float64
max.length_aspect_ratio          int64
scatter_ratio                  float64
elongatedness                  float64
pr.axis_rectangularity         float64
max.length_rectangularity        int64
scaled_variance                float64
scaled_variance.1              float64
scaled_radius_of_gyration      float64
scaled_radius_of_gyration.1    float64
skewness_about                 float64
skewness_about.1               float64
skewness_about.2               float64
hollows_ratio                    int64
class                           object
dtype: object

All columns are numerical data except 'class'

In [7]:
rawdata.columns

Index(['compactness', 'circularity', 'distance_circularity', 'radius_ratio',
       'pr.axis_aspect_ratio', 'max.length_aspect_ratio', 'scatter_ratio',
       'elongatedness', 'pr.axis_rectangularity', 'max.length_rectangularity',
       'scaled_variance', 'scaled_variance.1', 'scaled_radius_of_gyration',
       'scaled_radius_of_gyration.1', 'skewness_about', 'skewness_about.1',
       'skewness_about.2', 'hollows_ratio', 'class'],
      dtype='object')

In [8]:
rawdata['class'].unique()

array(['van', 'car', 'bus'], dtype=object)

The given data can be classified either Car,  Van, Bus. As per the business domain the data points can be classified into these 3 clusters. Hence keeping the number of clusters as **K = 3**

## Handling Imputation / Data cleaning

Since the classification labels occurs in 'class' column. For better understanding for the machine to read, converting the class labels to machine readable integers.

In [15]:
from sklearn.preprocessing import LabelEncoder

lEncoder = LabelEncoder()
rawdata['class'] = lEncoder.fit_transform(rawdata['class'])

Missing values handled in two ways
1. Deleting the particular row in the dataset.
2. Filling this up by mean/median/mode. Mean should be used for continuous data.


This Imputation can be done in two ways
1. Using standard numpy methods by updating the existing dataset
2. Using sklearn.impute package - SimpleImputer class.

In [23]:
from sklearn.impute import SimpleImputer

sImputer = SimpleImputer(missing_values=np.nan, strategy='mean')
df = pd.DataFrame(sImputer.fit_transform(rawdata), columns= rawdata.columns)

In [24]:
df.head()

   compactness  circularity  ...  hollows_ratio  class
0         95.0         48.0  ...          197.0    2.0
1         91.0         41.0  ...          199.0    2.0
2        104.0         50.0  ...          196.0    1.0
3         93.0         41.0  ...          207.0    2.0
4         85.0         44.0  ...          183.0    0.0

[5 rows x 19 columns]

In [25]:
df.isnull().sum()

compactness                    0
circularity                    0
distance_circularity           0
radius_ratio                   0
pr.axis_aspect_ratio           0
max.length_aspect_ratio        0
scatter_ratio                  0
elongatedness                  0
pr.axis_rectangularity         0
max.length_rectangularity      0
scaled_variance                0
scaled_variance.1              0
scaled_radius_of_gyration      0
scaled_radius_of_gyration.1    0
skewness_about                 0
skewness_about.1               0
skewness_about.2               0
hollows_ratio                  0
class                          0
dtype: int64

With this we have removed all the missing values in the dataset.