<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/Simple_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [20]:
from sklearn.datasets import load_iris

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

Load Iris Dataset

In [4]:
rawdata = load_iris()

In [6]:
X = pd.DataFrame(rawdata.data, columns = rawdata.feature_names)
y = pd.DataFrame(rawdata.target, columns = ['class'])

In [7]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
y.head()

   class
0      0
1      0
2      0
3      0
4      0

## Creare objects for the pipeline

In [11]:
sImputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [13]:
scaler = StandardScaler()

In [15]:
pca = PCA(n_components=0.95)

In [17]:
model = LogisticRegression()

## Define Pipeline

First n-1 steps in the pipeline should be either fit or fit_transform
where as the last or n-th step should be predict or fit_predict.

In [19]:
pipe = Pipeline([
                 ('imputer', sImputer),
                 ('scaler', scaler),
                 ('pca', pca),
                 ('model', model)
])

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=100)

In [22]:
pipe.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(memory=None,
         steps=[('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('pca',
                 PCA(copy=True, iterated_power='auto', n_components=0.95,
                     random_state=None, svd_solver='auto', tol=0.0,
                     whiten=False)),
                ('model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [24]:
y_test_predict = pipe.predict(X_test)
# y_train_predict = model.predict(X_train)

In [25]:
print('Training Score: ', pipe.score(X_train, y_train))
print('Testing Score: ', pipe.score(X_test, y_test))

Training Score:  0.9142857142857143
Testing Score:  0.9555555555555556