<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/Simple_LSTM_NLP_Example_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
sentence = 'my name is nandhakumar i live in coimbatore my favourite food is biryani everyone loves biryani'
sentence = sentence + ' EOF'

In [4]:
from keras.preprocessing.text import Tokenizer
import nltk
from nltk.tokenize import word_tokenize
import re
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
tokens = word_tokenize(sentence)
tokens

['my',
 'name',
 'is',
 'nandhakumar',
 'i',
 'live',
 'in',
 'coimbatore',
 'my',
 'favourite',
 'food',
 'is',
 'biryani',
 'everyone',
 'loves',
 'biryani',
 'EOF']

In [6]:
dictionatyOfWords = set(tokens)
dictionatyOfWords

{'EOF',
 'biryani',
 'coimbatore',
 'everyone',
 'favourite',
 'food',
 'i',
 'in',
 'is',
 'live',
 'loves',
 'my',
 'name',
 'nandhakumar'}

In [7]:
{w: i for i, w in enumerate(tokens)}

{'EOF': 16,
 'biryani': 15,
 'coimbatore': 7,
 'everyone': 13,
 'favourite': 9,
 'food': 10,
 'i': 4,
 'in': 6,
 'is': 11,
 'live': 5,
 'loves': 14,
 'my': 8,
 'name': 1,
 'nandhakumar': 3}

In [8]:
df = pd.DataFrame(tokens, columns=['words'])

In [9]:
df

          words
0            my
1          name
2            is
3   nandhakumar
4             i
5          live
6            in
7    coimbatore
8            my
9     favourite
10         food
11           is
12      biryani
13     everyone
14        loves
15      biryani
16          EOF

In [10]:
from sklearn.preprocessing import LabelEncoder

lEncoder = LabelEncoder()
df['n'] = lEncoder.fit_transform(df['words'])

In [11]:
df['n-1'] = df['n'].shift(-1)
df['n-2'] = df['n'].shift(-2)
df['target'] = df['words'].shift(-3)

In [12]:
df

          words   n   n-1   n-2       target
0            my  11  12.0   8.0  nandhakumar
1          name  12   8.0  13.0            i
2            is   8  13.0   6.0         live
3   nandhakumar  13   6.0   9.0           in
4             i   6   9.0   7.0   coimbatore
5          live   9   7.0   2.0           my
6            in   7   2.0  11.0    favourite
7    coimbatore   2  11.0   4.0         food
8            my  11   4.0   5.0           is
9     favourite   4   5.0   8.0      biryani
10         food   5   8.0   1.0     everyone
11           is   8   1.0   3.0        loves
12      biryani   1   3.0  10.0      biryani
13     everyone   3  10.0   1.0          EOF
14        loves  10   1.0   0.0          NaN
15      biryani   1   0.0   NaN          NaN
16          EOF   0   NaN   NaN          NaN

In [13]:
df.fillna(method='ffill', inplace=True)

In [14]:
df

          words   n   n-1   n-2       target
0            my  11  12.0   8.0  nandhakumar
1          name  12   8.0  13.0            i
2            is   8  13.0   6.0         live
3   nandhakumar  13   6.0   9.0           in
4             i   6   9.0   7.0   coimbatore
5          live   9   7.0   2.0           my
6            in   7   2.0  11.0    favourite
7    coimbatore   2  11.0   4.0         food
8            my  11   4.0   5.0           is
9     favourite   4   5.0   8.0      biryani
10         food   5   8.0   1.0     everyone
11           is   8   1.0   3.0        loves
12      biryani   1   3.0  10.0      biryani
13     everyone   3  10.0   1.0          EOF
14        loves  10   1.0   0.0          EOF
15      biryani   1   0.0   0.0          EOF
16          EOF   0   0.0   0.0          EOF

In [15]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

ohe_array = ohe.fit_transform(np.array(df['target']).reshape(-1,1))

In [16]:
target_encoded = np.array(ohe_array.todense())

In [17]:
ohe.get_feature_names()

array(['x0_EOF', 'x0_biryani', 'x0_coimbatore', 'x0_everyone',
       'x0_favourite', 'x0_food', 'x0_i', 'x0_in', 'x0_is', 'x0_live',
       'x0_loves', 'x0_my', 'x0_nandhakumar'], dtype=object)

In [18]:
y = target_encoded

In [19]:
X = df[['n','n-1','n-2']]

In [212]:
y

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [21]:
from tensorflow.keras.models import Model
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional, Input
from tensorflow.keras import Sequential
import tensorflow as tf

In [217]:
def testit(inputText):
  inputarray = lEncoder.transform(word_tokenize(inputText))
  pred = model.predict(np.array([inputarray]))[0]
  return lEncoder.inverse_transform([pred.argmax()])[0]

In [219]:
tf.keras.backend.clear_session()

In [220]:
model = Sequential()

model.add(Embedding(14,13)) # Word embedding layer
model.add(LSTM(50))
model.add(Dense(200, activation="relu"))
model.add(Dense(13, activation='softmax'))

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

model.fit(X, y, epochs=100,verbose=1)

Epoch 1/100
1/1 [==============================] - 1s 1s/step - loss: 2.5646 - accuracy: 0.1176
Epoch 2/100
1/1 [==============================] - 0s 6ms/step - loss: 2.5612 - accuracy: 0.2941
Epoch 3/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5582 - accuracy: 0.2353
Epoch 4/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5556 - accuracy: 0.2353
Epoch 5/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5529 - accuracy: 0.2353
Epoch 6/100
1/1 [==============================] - 0s 4ms/step - loss: 2.5501 - accuracy: 0.2353
Epoch 7/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5471 - accuracy: 0.2353
Epoch 8/100
1/1 [==============================] - 0s 4ms/step - loss: 2.5439 - accuracy: 0.2353
Epoch 9/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5405 - accuracy: 0.2353
Epoch 10/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5368 - accuracy: 0.2353
Epoch 11/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5330 - accuracy: 0.2353
Epoch 12/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5288 - accuracy: 0.2353
Epoch 13/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5243 - accuracy: 0.2353
Epoch 14/100
1/1 [==============================] - 0s 4ms/step - loss: 2.5195 - accuracy: 0.2353
Epoch 15/100
1/1 [==============================] - 0s 4ms/step - loss: 2.5143 - accuracy: 0.2353
Epoch 16/100
1/1 [==============================] - 0s 4ms/step - loss: 2.5087 - accuracy: 0.2353
Epoch 17/100
1/1 [==============================] - 0s 5ms/step - loss: 2.5027 - accuracy: 0.2353
Epoch 18/100
1/1 [==============================] - 0s 5ms/step - loss: 2.4963 - accuracy: 0.2353
Epoch 19/100
1/1 [==============================] - 0s 5ms/step - loss: 2.4893 - accuracy: 0.2353
Epoch 20/100
1/1 [==============================] - 0s 6ms/step - loss: 2.4818 - accuracy: 0.2353
Epoch 21/100
1/1 [==============================] - 0s 4ms/step - loss: 2.4737 - accuracy: 0.2353
Epoch 22/100
1/1 [==============================] - 0s 5ms/step - loss: 2.4650 - accuracy: 0.2353
Epoch 23/100
1/1 [==============================] - 0s 4ms/step - loss: 2.4556 - accuracy: 0.2353
Epoch 24/100
1/1 [==============================] - 0s 6ms/step - loss: 2.4455 - accuracy: 0.2353
Epoch 25/100
1/1 [==============================] - 0s 5ms/step - loss: 2.4346 - accuracy: 0.2353
Epoch 26/100
1/1 [==============================] - 0s 6ms/step - loss: 2.4229 - accuracy: 0.2353
Epoch 27/100
1/1 [==============================] - 0s 5ms/step - loss: 2.4103 - accuracy: 0.2353
Epoch 28/100
1/1 [==============================] - 0s 7ms/step - loss: 2.3968 - accuracy: 0.2353
Epoch 29/100
1/1 [==============================] - 0s 5ms/step - loss: 2.3823 - accuracy: 0.2353
Epoch 30/100
1/1 [==============================] - 0s 5ms/step - loss: 2.3669 - accuracy: 0.2353
Epoch 31/100
1/1 [==============================] - 0s 6ms/step - loss: 2.3504 - accuracy: 0.2353
Epoch 32/100
1/1 [==============================] - 0s 6ms/step - loss: 2.3330 - accuracy: 0.2353
Epoch 33/100
1/1 [==============================] - 0s 6ms/step - loss: 2.3145 - accuracy: 0.2353
Epoch 34/100
1/1 [==============================] - 0s 6ms/step - loss: 2.2950 - accuracy: 0.2353
Epoch 35/100
1/1 [==============================] - 0s 5ms/step - loss: 2.2746 - accuracy: 0.2353
Epoch 36/100
1/1 [==============================] - 0s 6ms/step - loss: 2.2534 - accuracy: 0.2353
Epoch 37/100
1/1 [==============================] - 0s 5ms/step - loss: 2.2315 - accuracy: 0.2353
Epoch 38/100
1/1 [==============================] - 0s 5ms/step - loss: 2.2090 - accuracy: 0.2353
Epoch 39/100
1/1 [==============================] - 0s 5ms/step - loss: 2.1861 - accuracy: 0.2353
Epoch 40/100
1/1 [==============================] - 0s 6ms/step - loss: 2.1629 - accuracy: 0.2353
Epoch 41/100
1/1 [==============================] - 0s 6ms/step - loss: 2.1396 - accuracy: 0.2353
Epoch 42/100
1/1 [==============================] - 0s 5ms/step - loss: 2.1162 - accuracy: 0.2353
Epoch 43/100
1/1 [==============================] - 0s 5ms/step - loss: 2.0926 - accuracy: 0.2353
Epoch 44/100
1/1 [==============================] - 0s 5ms/step - loss: 2.0685 - accuracy: 0.2353
Epoch 45/100
1/1 [==============================] - 0s 6ms/step - loss: 2.0439 - accuracy: 0.2353
Epoch 46/100
1/1 [==============================] - 0s 5ms/step - loss: 2.0184 - accuracy: 0.2353
Epoch 47/100
1/1 [==============================] - 0s 6ms/step - loss: 1.9918 - accuracy: 0.2353
Epoch 48/100
1/1 [==============================] - 0s 5ms/step - loss: 1.9643 - accuracy: 0.2941
Epoch 49/100
1/1 [==============================] - 0s 5ms/step - loss: 1.9365 - accuracy: 0.2941
Epoch 50/100
1/1 [==============================] - 0s 8ms/step - loss: 1.9086 - accuracy: 0.2941
Epoch 51/100
1/1 [==============================] - 0s 7ms/step - loss: 1.8808 - accuracy: 0.3529
Epoch 52/100
1/1 [==============================] - 0s 6ms/step - loss: 1.8534 - accuracy: 0.3529
Epoch 53/100
1/1 [==============================] - 0s 6ms/step - loss: 1.8264 - accuracy: 0.4118
Epoch 54/100
1/1 [==============================] - 0s 6ms/step - loss: 1.7995 - accuracy: 0.4118
Epoch 55/100
1/1 [==============================] - 0s 6ms/step - loss: 1.7732 - accuracy: 0.4706
Epoch 56/100
1/1 [==============================] - 0s 5ms/step - loss: 1.7475 - accuracy: 0.4706
Epoch 57/100
1/1 [==============================] - 0s 5ms/step - loss: 1.7226 - accuracy: 0.5294
Epoch 58/100
1/1 [==============================] - 0s 5ms/step - loss: 1.6980 - accuracy: 0.5294
Epoch 59/100
1/1 [==============================] - 0s 6ms/step - loss: 1.6731 - accuracy: 0.5882
Epoch 60/100
1/1 [==============================] - 0s 6ms/step - loss: 1.6479 - accuracy: 0.5882
Epoch 61/100
1/1 [==============================] - 0s 8ms/step - loss: 1.6219 - accuracy: 0.5882
Epoch 62/100
1/1 [==============================] - 0s 6ms/step - loss: 1.5949 - accuracy: 0.5882
Epoch 63/100
1/1 [==============================] - 0s 6ms/step - loss: 1.5671 - accuracy: 0.5882
Epoch 64/100
1/1 [==============================] - 0s 5ms/step - loss: 1.5384 - accuracy: 0.6471
Epoch 65/100
1/1 [==============================] - 0s 6ms/step - loss: 1.5091 - accuracy: 0.5882
Epoch 66/100
1/1 [==============================] - 0s 7ms/step - loss: 1.4792 - accuracy: 0.5882
Epoch 67/100
1/1 [==============================] - 0s 7ms/step - loss: 1.4489 - accuracy: 0.5882
Epoch 68/100
1/1 [==============================] - 0s 6ms/step - loss: 1.4181 - accuracy: 0.6471
Epoch 69/100
1/1 [==============================] - 0s 6ms/step - loss: 1.3872 - accuracy: 0.6471
Epoch 70/100
1/1 [==============================] - 0s 5ms/step - loss: 1.3562 - accuracy: 0.6471
Epoch 71/100
1/1 [==============================] - 0s 6ms/step - loss: 1.3253 - accuracy: 0.6471
Epoch 72/100
1/1 [==============================] - 0s 6ms/step - loss: 1.2940 - accuracy: 0.6471
Epoch 73/100
1/1 [==============================] - 0s 6ms/step - loss: 1.2626 - accuracy: 0.6471
Epoch 74/100
1/1 [==============================] - 0s 5ms/step - loss: 1.2309 - accuracy: 0.6471
Epoch 75/100
1/1 [==============================] - 0s 5ms/step - loss: 1.1991 - accuracy: 0.6471
Epoch 76/100
1/1 [==============================] - 0s 6ms/step - loss: 1.1672 - accuracy: 0.6471
Epoch 77/100
1/1 [==============================] - 0s 5ms/step - loss: 1.1351 - accuracy: 0.6471
Epoch 78/100
1/1 [==============================] - 0s 5ms/step - loss: 1.1029 - accuracy: 0.6471
Epoch 79/100
1/1 [==============================] - 0s 5ms/step - loss: 1.0709 - accuracy: 0.5882
Epoch 80/100
1/1 [==============================] - 0s 5ms/step - loss: 1.0391 - accuracy: 0.7059
Epoch 81/100
1/1 [==============================] - 0s 7ms/step - loss: 1.0076 - accuracy: 0.7059
Epoch 82/100
1/1 [==============================] - 0s 7ms/step - loss: 0.9765 - accuracy: 0.7059
Epoch 83/100
1/1 [==============================] - 0s 6ms/step - loss: 0.9458 - accuracy: 0.7647
Epoch 84/100
1/1 [==============================] - 0s 5ms/step - loss: 0.9154 - accuracy: 0.7647
Epoch 85/100
1/1 [==============================] - 0s 5ms/step - loss: 0.8855 - accuracy: 0.7647
Epoch 86/100
1/1 [==============================] - 0s 9ms/step - loss: 0.8561 - accuracy: 0.7647
Epoch 87/100
1/1 [==============================] - 0s 6ms/step - loss: 0.8271 - accuracy: 0.8235
Epoch 88/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7986 - accuracy: 0.8235
Epoch 89/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7706 - accuracy: 0.8235
Epoch 90/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7431 - accuracy: 0.8235
Epoch 91/100
1/1 [==============================] - 0s 6ms/step - loss: 0.7160 - accuracy: 0.8235
Epoch 92/100
1/1 [==============================] - 0s 5ms/step - loss: 0.6893 - accuracy: 0.8235
Epoch 93/100
1/1 [==============================] - 0s 6ms/step - loss: 0.6631 - accuracy: 0.8235
Epoch 94/100
1/1 [==============================] - 0s 7ms/step - loss: 0.6372 - accuracy: 0.8235
Epoch 95/100
1/1 [==============================] - 0s 6ms/step - loss: 0.6117 - accuracy: 0.8235
Epoch 96/100
1/1 [==============================] - 0s 5ms/step - loss: 0.5869 - accuracy: 0.8235
Epoch 97/100
1/1 [==============================] - 0s 6ms/step - loss: 0.5625 - accuracy: 0.8235
Epoch 98/100
1/1 [==============================] - 0s 6ms/step - loss: 0.5385 - accuracy: 0.8824
Epoch 99/100
1/1 [==============================] - 0s 5ms/step - loss: 0.5148 - accuracy: 0.9412
Epoch 100/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4915 - accuracy: 0.9412

In [221]:
testit('i live in')

'coimbatore'

In [222]:
testit('my name is')

'name'

In [223]:
testit('my favourite food')

'is'

In [232]:
testit('i live in')

'coimbatore'