<a href="https://colab.research.google.com/github/nandhukumar86/AIML-Practice/blob/master/Simple_LSTM_NLP_Example_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
sentence = 'my name is nandhakumar i live in coimbatore my favourite food is biryani everyone loves biryani'
sentence = sentence + ' EOF'

In [4]:
from keras.preprocessing.text import Tokenizer
import nltk
from nltk.tokenize import word_tokenize
import re
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
tokens = word_tokenize(sentence)
tokens

['my',
 'name',
 'is',
 'nandhakumar',
 'i',
 'live',
 'in',
 'coimbatore',
 'my',
 'favourite',
 'food',
 'is',
 'biryani',
 'everyone',
 'loves',
 'biryani',
 'EOF']

In [6]:
dictionatyOfWords = set(tokens)
dictionatyOfWords

{'EOF',
 'biryani',
 'coimbatore',
 'everyone',
 'favourite',
 'food',
 'i',
 'in',
 'is',
 'live',
 'loves',
 'my',
 'name',
 'nandhakumar'}

In [7]:
{w: i for i, w in enumerate(tokens)}

{'EOF': 16,
 'biryani': 15,
 'coimbatore': 7,
 'everyone': 13,
 'favourite': 9,
 'food': 10,
 'i': 4,
 'in': 6,
 'is': 11,
 'live': 5,
 'loves': 14,
 'my': 8,
 'name': 1,
 'nandhakumar': 3}

In [8]:
df = pd.DataFrame(tokens, columns=['words'])

In [9]:
df

          words
0            my
1          name
2            is
3   nandhakumar
4             i
5          live
6            in
7    coimbatore
8            my
9     favourite
10         food
11           is
12      biryani
13     everyone
14        loves
15      biryani
16          EOF

In [10]:
from sklearn.preprocessing import LabelEncoder

lEncoder = LabelEncoder()
df['n'] = lEncoder.fit_transform(df['words'])

In [11]:
df['n-1'] = df['n'].shift(-1)
df['n-2'] = df['n'].shift(-2)
df['target'] = df['words'].shift(-3)

In [12]:
df

          words   n   n-1   n-2       target
0            my  11  12.0   8.0  nandhakumar
1          name  12   8.0  13.0            i
2            is   8  13.0   6.0         live
3   nandhakumar  13   6.0   9.0           in
4             i   6   9.0   7.0   coimbatore
5          live   9   7.0   2.0           my
6            in   7   2.0  11.0    favourite
7    coimbatore   2  11.0   4.0         food
8            my  11   4.0   5.0           is
9     favourite   4   5.0   8.0      biryani
10         food   5   8.0   1.0     everyone
11           is   8   1.0   3.0        loves
12      biryani   1   3.0  10.0      biryani
13     everyone   3  10.0   1.0          EOF
14        loves  10   1.0   0.0          NaN
15      biryani   1   0.0   NaN          NaN
16          EOF   0   NaN   NaN          NaN

In [13]:
df.fillna(method='ffill', inplace=True)

In [14]:
df

          words   n   n-1   n-2       target
0            my  11  12.0   8.0  nandhakumar
1          name  12   8.0  13.0            i
2            is   8  13.0   6.0         live
3   nandhakumar  13   6.0   9.0           in
4             i   6   9.0   7.0   coimbatore
5          live   9   7.0   2.0           my
6            in   7   2.0  11.0    favourite
7    coimbatore   2  11.0   4.0         food
8            my  11   4.0   5.0           is
9     favourite   4   5.0   8.0      biryani
10         food   5   8.0   1.0     everyone
11           is   8   1.0   3.0        loves
12      biryani   1   3.0  10.0      biryani
13     everyone   3  10.0   1.0          EOF
14        loves  10   1.0   0.0          EOF
15      biryani   1   0.0   0.0          EOF
16          EOF   0   0.0   0.0          EOF

In [15]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

ohe_array = ohe.fit_transform(np.array(df['target']).reshape(-1,1))

In [16]:
target_encoded = np.array(ohe_array.todense())

In [17]:
ohe.get_feature_names()

array(['x0_EOF', 'x0_biryani', 'x0_coimbatore', 'x0_everyone',
       'x0_favourite', 'x0_food', 'x0_i', 'x0_in', 'x0_is', 'x0_live',
       'x0_loves', 'x0_my', 'x0_nandhakumar'], dtype=object)

In [18]:
y = target_encoded

In [19]:
X = df[['n','n-1','n-2']]

In [20]:
y

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [21]:
from tensorflow.keras.models import Model
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional, Input
from tensorflow.keras import Sequential
import tensorflow as tf

In [22]:
def testit(inputText):
  inputarray = lEncoder.transform(word_tokenize(inputText))
  pred = model.predict(np.array([inputarray]))[0]
  return lEncoder.inverse_transform([pred.argmax()])[0]

In [75]:
tf.keras.backend.clear_session()

In [76]:
model = Sequential()

model.add(Embedding(10000,32)) # Word embedding layer
model.add(LSTM(100))
# model.add(Dropout(0.2))
# model.add(Dense(200, activation="relu"))
# model.add(Dropout(0.2))
model.add(Dense(13, activation='softmax'))

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

model.fit(X, y, epochs=75, batch_size=2, validation_split = 0.3, verbose=1)

Epoch 1/75
6/6 [==============================] - 2s 87ms/step - loss: 2.5673 - accuracy: 0.0000e+00 - val_loss: 2.5767 - val_accuracy: 0.0000e+00
Epoch 2/75
6/6 [==============================] - 0s 9ms/step - loss: 2.5555 - accuracy: 0.2727 - val_loss: 2.5860 - val_accuracy: 0.0000e+00
Epoch 3/75
6/6 [==============================] - 0s 9ms/step - loss: 2.5473 - accuracy: 0.3636 - val_loss: 2.5958 - val_accuracy: 0.1667
Epoch 4/75
6/6 [==============================] - 0s 10ms/step - loss: 2.5382 - accuracy: 0.6364 - val_loss: 2.6054 - val_accuracy: 0.1667
Epoch 5/75
6/6 [==============================] - 0s 9ms/step - loss: 2.5282 - accuracy: 0.7273 - val_loss: 2.6167 - val_accuracy: 0.1667
Epoch 6/75
6/6 [==============================] - 0s 9ms/step - loss: 2.5157 - accuracy: 0.8182 - val_loss: 2.6288 - val_accuracy: 0.1667
Epoch 7/75
6/6 [==============================] - 0s 9ms/step - loss: 2.5016 - accuracy: 0.8182 - val_loss: 2.6418 - val_accuracy: 0.0000e+00
Epoch 8/75
6/6 [==============================] - 0s 9ms/step - loss: 2.4826 - accuracy: 0.8182 - val_loss: 2.6559 - val_accuracy: 0.1667
Epoch 9/75
6/6 [==============================] - 0s 9ms/step - loss: 2.4589 - accuracy: 0.8182 - val_loss: 2.6719 - val_accuracy: 0.0000e+00
Epoch 10/75
6/6 [==============================] - 0s 10ms/step - loss: 2.4266 - accuracy: 0.7273 - val_loss: 2.6896 - val_accuracy: 0.0000e+00
Epoch 11/75
6/6 [==============================] - 0s 9ms/step - loss: 2.3853 - accuracy: 0.6364 - val_loss: 2.7103 - val_accuracy: 0.0000e+00
Epoch 12/75
6/6 [==============================] - 0s 9ms/step - loss: 2.3296 - accuracy: 0.6364 - val_loss: 2.7323 - val_accuracy: 0.0000e+00
Epoch 13/75
6/6 [==============================] - 0s 10ms/step - loss: 2.2529 - accuracy: 0.6364 - val_loss: 2.7578 - val_accuracy: 0.1667
Epoch 14/75
6/6 [==============================] - 0s 9ms/step - loss: 2.1580 - accuracy: 0.6364 - val_loss: 2.7868 - val_accuracy: 0.1667
Epoch 15/75
6/6 [==============================] - 0s 9ms/step - loss: 2.0367 - accuracy: 0.4545 - val_loss: 2.8216 - val_accuracy: 0.1667
Epoch 16/75
6/6 [==============================] - 0s 9ms/step - loss: 1.9020 - accuracy: 0.4545 - val_loss: 2.8633 - val_accuracy: 0.1667
Epoch 17/75
6/6 [==============================] - 0s 10ms/step - loss: 1.7528 - accuracy: 0.4545 - val_loss: 2.9091 - val_accuracy: 0.0000e+00
Epoch 18/75
6/6 [==============================] - 0s 10ms/step - loss: 1.6144 - accuracy: 0.5455 - val_loss: 2.9576 - val_accuracy: 0.0000e+00
Epoch 19/75
6/6 [==============================] - 0s 9ms/step - loss: 1.4866 - accuracy: 0.5455 - val_loss: 3.0091 - val_accuracy: 0.0000e+00
Epoch 20/75
6/6 [==============================] - 0s 9ms/step - loss: 1.3508 - accuracy: 0.6364 - val_loss: 3.0629 - val_accuracy: 0.0000e+00
Epoch 21/75
6/6 [==============================] - 0s 9ms/step - loss: 1.2400 - accuracy: 0.6364 - val_loss: 3.1207 - val_accuracy: 0.0000e+00
Epoch 22/75
6/6 [==============================] - 0s 9ms/step - loss: 1.1212 - accuracy: 0.9091 - val_loss: 3.1965 - val_accuracy: 0.0000e+00
Epoch 23/75
6/6 [==============================] - 0s 9ms/step - loss: 0.9814 - accuracy: 0.9091 - val_loss: 3.2750 - val_accuracy: 0.0000e+00
Epoch 24/75
6/6 [==============================] - 0s 9ms/step - loss: 0.8689 - accuracy: 1.0000 - val_loss: 3.3846 - val_accuracy: 0.0000e+00
Epoch 25/75
6/6 [==============================] - 0s 9ms/step - loss: 0.7454 - accuracy: 1.0000 - val_loss: 3.4914 - val_accuracy: 0.0000e+00
Epoch 26/75
6/6 [==============================] - 0s 9ms/step - loss: 0.6386 - accuracy: 1.0000 - val_loss: 3.6088 - val_accuracy: 0.0000e+00
Epoch 27/75
6/6 [==============================] - 0s 10ms/step - loss: 0.5580 - accuracy: 1.0000 - val_loss: 3.7510 - val_accuracy: 0.0000e+00
Epoch 28/75
6/6 [==============================] - 0s 9ms/step - loss: 0.4796 - accuracy: 1.0000 - val_loss: 3.9085 - val_accuracy: 0.0000e+00
Epoch 29/75
6/6 [==============================] - 0s 9ms/step - loss: 0.4095 - accuracy: 1.0000 - val_loss: 4.0506 - val_accuracy: 0.0000e+00
Epoch 30/75
6/6 [==============================] - 0s 10ms/step - loss: 0.3422 - accuracy: 1.0000 - val_loss: 4.1704 - val_accuracy: 0.0000e+00
Epoch 31/75
6/6 [==============================] - 0s 9ms/step - loss: 0.3031 - accuracy: 1.0000 - val_loss: 4.2630 - val_accuracy: 0.0000e+00
Epoch 32/75
6/6 [==============================] - 0s 9ms/step - loss: 0.2547 - accuracy: 1.0000 - val_loss: 4.3643 - val_accuracy: 0.0000e+00
Epoch 33/75
6/6 [==============================] - 0s 9ms/step - loss: 0.2228 - accuracy: 1.0000 - val_loss: 4.4597 - val_accuracy: 0.0000e+00
Epoch 34/75
6/6 [==============================] - 0s 9ms/step - loss: 0.1984 - accuracy: 1.0000 - val_loss: 4.5532 - val_accuracy: 0.0000e+00
Epoch 35/75
6/6 [==============================] - 0s 9ms/step - loss: 0.1765 - accuracy: 1.0000 - val_loss: 4.6387 - val_accuracy: 0.0000e+00
Epoch 36/75
6/6 [==============================] - 0s 9ms/step - loss: 0.1574 - accuracy: 1.0000 - val_loss: 4.7226 - val_accuracy: 0.0000e+00
Epoch 37/75
6/6 [==============================] - 0s 9ms/step - loss: 0.1407 - accuracy: 1.0000 - val_loss: 4.7904 - val_accuracy: 0.0000e+00
Epoch 38/75
6/6 [==============================] - 0s 9ms/step - loss: 0.1280 - accuracy: 1.0000 - val_loss: 4.8450 - val_accuracy: 0.0000e+00
Epoch 39/75
6/6 [==============================] - 0s 9ms/step - loss: 0.1185 - accuracy: 1.0000 - val_loss: 4.8941 - val_accuracy: 0.0000e+00
Epoch 40/75
6/6 [==============================] - 0s 9ms/step - loss: 0.1043 - accuracy: 1.0000 - val_loss: 4.9423 - val_accuracy: 0.0000e+00
Epoch 41/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0950 - accuracy: 1.0000 - val_loss: 4.9831 - val_accuracy: 0.0000e+00
Epoch 42/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0905 - accuracy: 1.0000 - val_loss: 5.0194 - val_accuracy: 0.0000e+00
Epoch 43/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0829 - accuracy: 1.0000 - val_loss: 5.0549 - val_accuracy: 0.0000e+00
Epoch 44/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0754 - accuracy: 1.0000 - val_loss: 5.0864 - val_accuracy: 0.0000e+00
Epoch 45/75
6/6 [==============================] - 0s 11ms/step - loss: 0.0690 - accuracy: 1.0000 - val_loss: 5.1256 - val_accuracy: 0.0000e+00
Epoch 46/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0646 - accuracy: 1.0000 - val_loss: 5.1562 - val_accuracy: 0.0000e+00
Epoch 47/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0600 - accuracy: 1.0000 - val_loss: 5.1891 - val_accuracy: 0.0000e+00
Epoch 48/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0564 - accuracy: 1.0000 - val_loss: 5.2271 - val_accuracy: 0.0000e+00
Epoch 49/75
6/6 [==============================] - 0s 11ms/step - loss: 0.0524 - accuracy: 1.0000 - val_loss: 5.2602 - val_accuracy: 0.0000e+00
Epoch 50/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0493 - accuracy: 1.0000 - val_loss: 5.2898 - val_accuracy: 0.0000e+00
Epoch 51/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0464 - accuracy: 1.0000 - val_loss: 5.3176 - val_accuracy: 0.0000e+00
Epoch 52/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0442 - accuracy: 1.0000 - val_loss: 5.3458 - val_accuracy: 0.0000e+00
Epoch 53/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0416 - accuracy: 1.0000 - val_loss: 5.3714 - val_accuracy: 0.0000e+00
Epoch 54/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0391 - accuracy: 1.0000 - val_loss: 5.3986 - val_accuracy: 0.0000e+00
Epoch 55/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0372 - accuracy: 1.0000 - val_loss: 5.4213 - val_accuracy: 0.0000e+00
Epoch 56/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0350 - accuracy: 1.0000 - val_loss: 5.4457 - val_accuracy: 0.0000e+00
Epoch 57/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0335 - accuracy: 1.0000 - val_loss: 5.4767 - val_accuracy: 0.0000e+00
Epoch 58/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0317 - accuracy: 1.0000 - val_loss: 5.5041 - val_accuracy: 0.0000e+00
Epoch 59/75
6/6 [==============================] - 0s 10ms/step - loss: 0.0303 - accuracy: 1.0000 - val_loss: 5.5255 - val_accuracy: 0.0000e+00
Epoch 60/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0287 - accuracy: 1.0000 - val_loss: 5.5474 - val_accuracy: 0.0000e+00
Epoch 61/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0275 - accuracy: 1.0000 - val_loss: 5.5669 - val_accuracy: 0.0000e+00
Epoch 62/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0264 - accuracy: 1.0000 - val_loss: 5.5877 - val_accuracy: 0.0000e+00
Epoch 63/75
6/6 [==============================] - 0s 10ms/step - loss: 0.0253 - accuracy: 1.0000 - val_loss: 5.6090 - val_accuracy: 0.0000e+00
Epoch 64/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0243 - accuracy: 1.0000 - val_loss: 5.6270 - val_accuracy: 0.0000e+00
Epoch 65/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0233 - accuracy: 1.0000 - val_loss: 5.6473 - val_accuracy: 0.0000e+00
Epoch 66/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0224 - accuracy: 1.0000 - val_loss: 5.6656 - val_accuracy: 0.0000e+00
Epoch 67/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0215 - accuracy: 1.0000 - val_loss: 5.6836 - val_accuracy: 0.0000e+00
Epoch 68/75
6/6 [==============================] - 0s 11ms/step - loss: 0.0207 - accuracy: 1.0000 - val_loss: 5.7014 - val_accuracy: 0.0000e+00
Epoch 69/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0199 - accuracy: 1.0000 - val_loss: 5.7178 - val_accuracy: 0.0000e+00
Epoch 70/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0192 - accuracy: 1.0000 - val_loss: 5.7314 - val_accuracy: 0.0000e+00
Epoch 71/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0185 - accuracy: 1.0000 - val_loss: 5.7507 - val_accuracy: 0.0000e+00
Epoch 72/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0180 - accuracy: 1.0000 - val_loss: 5.7665 - val_accuracy: 0.0000e+00
Epoch 73/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0173 - accuracy: 1.0000 - val_loss: 5.7808 - val_accuracy: 0.0000e+00
Epoch 74/75
6/6 [==============================] - 0s 10ms/step - loss: 0.0167 - accuracy: 1.0000 - val_loss: 5.7944 - val_accuracy: 0.0000e+00
Epoch 75/75
6/6 [==============================] - 0s 9ms/step - loss: 0.0162 - accuracy: 1.0000 - val_loss: 5.8081 - val_accuracy: 0.0000e+00

In [77]:
testit('i live in')

'coimbatore'

In [78]:
testit('my name is')

'name'

In [79]:
testit('my favourite food')

'is'

In [80]:
testit('i live in')

'coimbatore'

In [81]:
testit('favourite food is')

'biryani'